

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ta-da {
  min-width: 340px;
}

body {
  background-color: rgba(120, 230, 230, 0.493);
  text-align: center;
}

.App{
  background-color: white;
  margin: 30px;
  min-height: 88vh;
}

h2 {
  margin-top: 10px;
}

.left-space {
  margin-left: 5px;
}

.task-count--message {
  margin-top: 10px;
}

::-webkit-datetime-edit {border: 0;}
